/* App.css */

/* Ensures the body and html take up the full viewport height and width */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 100vh; 
  width: 100%; 
}

.left-section, .right-section {
  width: 50%; 
  padding: 20px; 
  box-sizing: border-box; 
}
.left-section {
  display: flex;
  flex-direction: column;
  gap: 20px; 
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
